<div id="dashboard-page" ng-controller="DashboardController as dsb">

</div>
<t>
  Move across the stage : Touch anywhere on screen
  <t>
    <p></p>
    <f>
      Destroy asteroids with bullets, score 8 or more and advance to a new level
      <f>
        <p></p>
        <f>
          Hitting the paw will speed up your ship!
          <f>
            <p></p>
            <f> Avoid asteroids to stay in the game</f>
            <p></p>
            <f>To add you name and score to leaderboard, achieve the highest score possible. Then type name into field above stage and click 'Submit'</f>